.progress {
  /* border: 1px solid red; */
  margin: 0 auto;
  margin-top: auto;
  display: flex;
  padding: 10px 5px;
  --progress: 0;
  --blue: hsl(211.2,100%,40%);
  width: 100%;
  /* max-width: 900px; */
  background-color: hsl(170.8,23.6%,80%);
  border-top: 1px solid hsl(170.8,23.6%,60%);
}

.progress .buttons {
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
}

.progress .buttons p {
  margin: 0;
  display: none;
}

.progress .icon {
  height: 2rem;
  width: 2rem;
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: .3em;
  padding: .1em;
  cursor: pointer;
}

.progress .icon:hover {
  background-color: var(--blue);
  color: white;
}

.bar-wrapper {
  width: calc(100% - 4rem);
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  padding: .5rem;
}

.bar {
  height: .3rem;
  width: 100%;
  border: 1px solid var(--blue);
  border-radius: 999px;
  position: relative;
  display: flex;
  align-items: center;
}

.bar .strip {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--progress);
  transition: width .2s ease;
  /* right: calc(100% - var(--progress)); */
  background-color: var(--blue);
  border-radius: 999px;
}

.bar .ball {
  position: absolute;
  height: .5rem;
  width: .5rem;
  left: var(--progress);
  transition: left .2s ease;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 50%;
  transform: translateX(-50%);
}


@media screen and (max-width: 250px) {
  .progress {
    flex-direction: column;
    align-items: center;
  }
  .progress .buttons p {
    display: block;
  }
  .bar-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
 .progress .buttons p {
    display: block;
  }

  .progress {
    padding: 10px calc((100vw - 900px) / 2);
  }
}