.statistics {
  border: 1px solid red;
  padding: 20px 10px;
  --success: rgb(42,211,0);
  --danger: rgb(243,60,0);
  --warn: rgb(243,177,0);
}

.statistics h1 {
  text-align: center;
  margin-bottom: 20px;
}

.summary {
  margin-left: 10px;
  display: inline-block;
  /* border: 1px solid red; */
  border-radius: 5px;
  background-color: hsl(0,0%,0%);
}

.statistics p {
  margin: 10px;
}

.success {
  color: var(--success);
}

.danger {
  color: var(--danger);
}

.warn {
  color: var(--warn);
}

.pie-wrapper {
  border: 1px solid red;
  margin: 20px 0;
  display: grid;
  place-items: center;
}

.pie {
  height: 15rem;
  width: 15rem;
  border: 1px solid black;
  border-radius: 50%;
  background: conic-gradient(
    var(--success) 0deg,
    var(--success) var(--correct,0deg),
    var(--danger) var(--correct,0deg),
    var(--danger) var(--danger,0deg),
    var(--warn) var(--danger,0deg),
    var(--warn) 360deg
  );
}