.statistics {
  /* border: 1px solid red; */
  padding: 20px 10px;
  --success: rgb(42,211,0);
  --danger: rgb(243,60,0);
  --warn: rgb(243,177,0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.summary {
  margin: 10px auto;
  display: inline-block;
  /* border: 1px solid red; */
  border-radius: 5px;
  background-color: hsl(0,0%,0%);
}

.statistics p {
  margin: 10px;
}

.success {
  color: var(--success);
}

.danger {
  color: var(--danger);
}

.warn {
  color: var(--warn);
}

.pie-wrapper {
  /* border: 1px solid red; */
  margin: 20px 0;
  display: grid;
  place-items: center;
}

.pie {
  height: 50vmin;
  width: 50vmin;
  border: 1px solid black;
  border-radius: 50%;
}

.statistics button {
  padding: .4em .7em;
  border: .1em solid black;
  font-weight: bold;
  font-size: 1rem;
}

.statistics button:hover {
  background-color: black;
  color: white;
}