.top-row {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding: .5em;
  align-items: center;
  font-size: 1rem;
  position: relative;
  font-weight: bold;
  background-color: hsl(170.8,23.6%,80%);
  border-bottom: 1px solid hsl(170.8,23.6%,60%);
  width: 100%;
}

.top-row button {
  height: 40px;
  padding: 0 .4em;
  font-size: .8rem;
  font-weight: bold;
  border: .1em solid black;
  border-radius: .3em;
  cursor: pointer;
}

.top-row button:hover {
  color: white;
  background-color: black;
}

.timer {
  /* border: 1px solid red; */
  position: absolute;
  right: 1rem;
  bottom: 0;
  transform: translateY(110%);
  padding: .4em .7em;
}

.timer p {
  margin: 0;
}

@media screen and (max-width: 250px) {
  .top-row {
    flex-direction: column;
  }
}

@media screen and (min-width: 900px) {
  .top-row {
    font-size: 1.1rem;
    padding: .5em .8em;
  }
  .top-row button {
    font-size: 1rem;
  }
}