.home {
  height: 100%;
  padding: 2rem 1rem;
  margin: 10px auto;
  max-width: 900px;
}

.home h1,.home h2,.home h3 {
  text-align: center;
}

.home hr {
  border: .05rem solid black;
  background-color: black;
  margin: 10px 0;
}

.home h3:last-of-type {
  text-align: left;
}

.home button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 1.1rem;
  border: .1em solid black;
  background-color: transparent;
  font-weight: bold;
}