html,body,#root {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

h1,h2,h3 {
  margin: 10px 0;
}

.button {
  padding: .5em 1em;
  border-radius: .4em;
}

.list li {
  margin: 10px 0;
  line-height: 1.2em;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 18px;
  }
}